@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">What Sets Us Apart</h1>
    <p>Personalized Service: Every project is unique, and we tailor our estimates to match your specific requirements and preferences.</p>
    <br />
    <h1 class="display-4">Industry Insight</h1>
    <p>Our team stays current with the latest flooring materials, trends, and technologies to provide you with informed recommendations.</p>
    <br />
    <h1 class="display-4">Effiency</h1>
    <p>We understand the significance of timelines and work diligently to provide timely estimates, so your project can move forward seamlessly.</p>
    <br />
    <h1 class="display-4">Transparent Communication</h1>
    <p>We maintain open communication throughout the estimation process, keeping you informed at every step.</p>
</div>
