@{
    ViewData["Title"] = "Expertise";
}

<div class="text-center">
    <h1 class="display-4">Expertise</h1>
    <p>
        Our seasoned team of professionals leverages industry expertise and state-of-the-art software solutions to ensure the foundation of your flooring project is solid. Whether you're a homeowner aiming to elevate your living space or a business owner embarking on extensive commercial ventures, Estima Flooring has the expertise to cater to your needs.
    </p>
</div>
