@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Estima Flooring</h1>
    <p>Estima Flooring is a trusted leader in precise flooring estimation services, dedicated to bringing your flooring projects to life. We specialize in delivering meticulous and tailored flooring estimates for a diverse range of projects, encompassing residential, commercial, and industrial spaces.</p>
    <br />
    <br />
    <br />
    <form method="post">
        <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="ContactForm">Contact Us</button>
    </form>
</div>
