@{
    ViewData["Title"] = "Project Types";
}

<div class="text-center">
    <h1 class="display-4">Residential</h1>
    <p>
        We excel in transforming homes with beautiful and durable flooring solutions that suit your style and budget.
    </p>
    <br />
    <h1 class="display-4">Commercial</h1>
    <p>
        From offices and retail spaces to hospitals and hotels, we provide accurate estimates for commercial flooring projects of any scale.
    </p>
    <br />
    <h1 class="display-4">Industrial</h1>
    <p>
        Our services extend to industrial settings, ensuring cost-effective and reliable flooring estimates for factories and warehouses.
    </p>
</div>
